body {
    margin: 0;
    padding: 0;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.calculadora-container {
    border: 2px black solid;
    padding: 1rem;
    background-color: antiquewhite;
    border-radius: 0.5rem;
}

.calculadora-resultado-container {
    border: 1px black solid;
    margin: 1rem 0;
    background-color: white;
}

#calculadora-resultado {
    display: block;
    padding: 0.5rem;
    height: 3rem;
    width: 16rem;
    text-align: right;
    line-height: 3rem;
    font-size: 1.5rem;
    font-family: "Arial";
    overflow: hidden;
}

#calculadora-conta {
    display: block;
    padding: 0.5rem;
    height: 0.5rem;
    width: 16rem;
    text-align: right;
}

.calculadora-botoes-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    gap: 0.5rem;
}

button {
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 0.25rem;
    border: 1px solid black;
}

.calculadora-botoes-container > button {
    width: 100%;
    font-size: 1.25rem;
    font-family: "Arial";
}

.calculadora-botao-zero {
    grid-column: 2 / span 2;
    aspect-ratio: 2 / 1;
    height: calc(100% - 0.25rem);
}

.calculadora-botao-operacao, .calculadora-botao-raiz, .calculadora-botao-quadrado {
    background-color: gainsboro;
}

.calculadora-botao-igual {
    background-color: rgb(43, 203, 43);
}

.calculadora-botao-clear {
    background-color: rgb(250, 46, 46);
}